@tailwind base;
@tailwind components;
@tailwind utilities;
@keyframes marquee-xl {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-marquee-xl {
  animation: marquee-xl 30s linear infinite;
}

@media (max-width: 640px) {
  .animate-marquee-xl {
    animation-duration: 30s; /* ⏩ faster on small screens */
  }
}
