@tailwind base;
@tailwind components;
@tailwind utilities;
@keyframes marquee-xl {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-marquee-xl {
  animation: marquee-xl 30s linear infinite;
}
